html {
	scroll-behavior: smooth;
    font-size: 15px;
}

body {
    margin: 0;
    font-family: 'Montserrat', medium;
    font-size: 1rem;
}

img {
    width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    margin: 0 120px;
    display: flex;
}

.current {
    color: #000;
    cursor: not-allowed;
}

.sign-in {
    color: #0C326B;
    text-decoration: none;
}

.sign-in:hover {
    color: #fff;
}


/*---------------------Home page--------------------------------*/

/*+++++++++++++++++++++main+++++++++++++++++++++++++++++++++++++*/
.main {
	width: 100%;
    height: auto;
    background: #fff url("../images/home/main/main.jpg") center no-repeat;
    background-size: cover;
}

.header {
    background-color: #82BBFF;
}

.header-inner {
    display: inherit;
    margin-top: 25px;
    width: 100%;
}

.header-logo {
    display: inherit;
    width: 40%;
}

.header-logo-img {
    width: 50px;
    height: 50px;
    margin-left: 10px;
    mix-blend-mode: multiply;
}

.header-logo-brand {
    font-family: Railway;
    font-size: 2rem;
    color: #fff;
}

.header-nav {
    width: 100%;
}

.header-nav-ul {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    font-size: 1.33333rem;

}

.header-nav-li {

}

.header-nav-a {
    color: #fff;
    text-decoration: none;
}

.header-nav-a:hover {
    color: #0C326B;
}

.main-text {
    margin-top: 125px;
    padding-bottom: 90px;
}

.main-text-cont {
    display: block;
}

.main-text-title {
    width: 680px;
    font-size: 4.66667rem;
    font-family: Rosario;
    color: #82BBFF;
}

.main-text-subtitle {
    width: 550px;
    margin-top: 5.33333rem;
    font-size: 2.4rem;
    font-family: Rosarivo;
}

.main-text-btn {
    margin-top: 6rem;
}

.main-text-btn-a {
    display: inline-block;
    background-color: #82BBFF;
    color: #fff;
    font-size: 1.6rem;
    font-family: Rosarivo;
    width: 20rem;
    height: 5.33333rem;
    border-radius: 2.66667rem;
    border-style: none;
    text-align: center;
    padding: 1.6rem 0;
    vertical-align: middle;
    text-decoration: none;
}

.main-text-btn-a:hover {
    background-color: #55AAFF;
    color: #000;
}

/*+++++++++++++++++++++information+++++++++++++++++++++++++++++++++++++*/

.information {
    width: 100%;
    height: auto;
    background-color: #fff;

}

.information-title {
    width: 100%;
    text-align: center;
    color: #82BBFF;
    margin: 55px 0 45px;
    font-size: 2.4rem;
    font-family: Rosarivo;
}

.information-blocks {
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.information-blocks-block {
    width: 30%;
    height: 400px;
    margin: 0 auto;
    text-align: center;

}

.information-blocks-a {
    text-decoration: none;
    color: #000;
}

.information-blocks-block img {
    height: 100%;
    border-style:none ;
    border-radius: 1.33333rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.information-blocks-text {
    font-size: 1.33333rem;
}

/*+++++++++++++++++++++discount+++++++++++++++++++++++++++++++++++++*/

.discount {
    width: 100%;
    height: auto;
    background-color: #82BBFF;
}

.discount-info {
    width: 50%;
}

.discount-info-title {
    font-weight: 800;
    font-size: 72px;
    padding: 80px 0 20px;
    text-align: center;
}

.discount-info-text {
    font-size: 36px;
    padding: 25px 0;

}

.discount-info-btn {
    padding: 25px 0 80px;
    text-align: center;
}

.discount-info-btn-a {
    display: inline-block;
    font-size: 1.6rem;
    font-family: Rosarivo;
    width: 315px;
    height: 66px;
    border-style: none;
    border-radius: 33px;
    background-color: #EE6666;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
}

.discount-info-btn-a:hover {
    background-color: #66A5EE;
    color: #fff;
}

.discount-img {
    width: 50%;
    /*margin: 40px 50px 40px 150px;*/
    padding: 40px 0px 40px 190px;
}

.discount-img img {
    width: 80%;
    border-style: none;
    border-radius: 1rem;
    justify-content: end;
}

/*+++++++++++++++++++++goods+++++++++++++++++++++++++++++++++++++*/

.goods {
    width: 100%;
    height: auto;
}

.goods-blocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 350px;
    grid-gap: 40px;
    width: 100%;
    padding: 80px 90px;
    /*justify-content: space-between;*/
}

.goods-blocks-block {
    width: 100%;
    background-color: #82BBFF;
    border-style: none;
    border-radius: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    text-align: center;
}

.goods-blocks-block img {
    height: 260px;
    border-radius: 30px 30px 0 0;
}

.goods-blocks-block span {
    font-size: 1.2rem;
}

.goods-blocks-block-a {
    display: block;
    font-size: 1.2rem;
    font-family: Rosarivo;
    width: 50%;
    height: 26px;
    border-style: none;
    border-radius: 13px;
    background-color: #EE6666;
    color: #000;
    text-decoration: none;
    text-align: center;
    padding: 3px 0;
    margin: 5px auto 10px;
}

.goods-blocks-block-a:hover {
    background-color: #66A5EE;
    color: #fff;
}


/*+++++++++++++++++++++footer+++++++++++++++++++++++++++++++++++++*/

.footer {
    width: 100%;
    height: auto;
}

.footer-info {
    width: 100%;
    background-color: #55AAFF;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 30px 120px;
    text-align: center;
}

.footer-info-title {
    font-size: 2.4rem;
    margin-bottom: 15px;
}

.footer-info-text {
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.footer-info-icons a{
    color: #000;
    margin: 0 20px;
}

.footer-creator {
    width: 100%;
    background-color: #0C326B;
    color: #fff;
    text-align: center;
    padding: 13px 0;
}



/*---------------------Contact page--------------------------------*/

.form {
    width: 100%;
    height: auto;
    background: url("../images/contact/contact.jpg") center no-repeat;
    background-size: cover;
    text-align: center;
}

.form-title {
    font-size: 2.4rem;
    font-weight: 600;
    padding: 80px 0 0;
    margin: 0px 0 25px;
}

.form-subtitle {
    font-size: 1.2rem;
    font-family: Rosarivo;
    margin: 50px 0;
}

.contact-form {
    display: block;
}

.contact-form-input {
    width: 50%;
    height: 58px;
    background-color: #DADADA;
    border-style: none;
    font-weight: 600;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 24px;
}

.contact-form-message {
    width: 50%;
    height: 113px;
    background-color: #DADADA;
    border-style: none;
    font-weight: 600;
    padding: 20px 40px;
    margin-bottom: 40px;
}

.map {
    width: 100%;
    background-color: #82BBFF;
    text-align: center;
    padding: 40px 0;
}